services:
  backend:
    build: ./backend
    container_name: WarehouseAPI
    ports:
      - 9000:9000
    restart: unless-stopped


  frontend:
    build: ./frontend
    container_name: Warehouse
    ports:
      - 80:80
    restart: unless-stopped
    environment:
      VITE_API_URL: '/api'