version: '3.9'

services:
  backend:
    build: ./backend
    container_name: WarehouseAPI
    networks:
      - npm_net
    expose:
      - '9090'
    restart: unless-stopped

networks:
  npm_net:
    external: true
