services:
  backend:
    build: ./backend
    container_name: warehouse_backend
    networks:
      - warehouse_net
    expose:
      - '9000'
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: warehouse_frontend
    networks:
      - warehouse_net
      - npm_net
    ports:
      - '3000:3000'
    restart: unless-stopped

networks:
  npm_net:
    name: npm_net
    external: true
  warehouse_net:
    name: warehouse_net
